RADAR_DATA_URL=http://localhost:3000/api/radar-data
# INFERENCE_RESULTS_URL=https://your-api/inference-results
# INFERENCE_RESULTS_DIR=./inference_results
MODEL_PATH=models/model.pt
SCALER_PATH=models/scaler.pkl
FETCH_LIMIT=500
RUN_SCHEDULER=true
INFERENCE_INTERVAL_SECONDS=15
